@charset "UTF-8";

/* celular de 600 ate 768px */

@media screen and (max-width: 800px){
    
    section.noticia > h2{
        font-size: 25px;
    }

    section.noticia > p{
        font-size: 15px;
        padding: 10px;
    }

    .lula{
        max-width:300px;
        max-height:300px;
        width: auto;
        height: auto;
    }
}