@charset "UTF-8";

/* celular de 600 ate 768px */

@media screen and (max-width: 768px){
    
    section.noticia > h2{
        font-size: 25px;
        padding: 10px 10px;
    }

    section.noticia > p{
        font-size: 15px;
        padding: 10px;
    }

}

@media screen and (max-width: 1200px){
    
    section.noticia > h2{
        font-size: 25px;
        padding: 10px 10px;
    }

    section.noticia > p{
        font-size: 15px;
        padding: 10px;
    }

}
